<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    
    <!-- Skeleton CSS -->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/skeleton.css">
</head>

<body>
    <div class="container">
        <main id="app">
            <h1>{{ title }}</h1>
            <!-- vue - adding a function when this data is submitted. 
                .prevent prevents Default -->
            <form @submit.prevent="addTodo">
                <label for="newTodo"><h4>What needs to be done?</h4></label>
                <!-- v-model links with elements on your js file -->
                <input v-model="newTodo" type="text" name="newTodo" id="newTodo">
                <button type="submit" name="button">Add</button>
                
            </form>
            <hr>
            <ul>
                <!-- vue - for every item in array of items. 
                    Repeats over the 'todos' array and gives
                    the name 'todo' to each item -->
                <li v-for="todo in todos">
                    <!-- @click refers to a function on your methods -->
                    <span>{{ todo.title }}</span><button type="button" @click="removeTodo(todo)">Remove</button>
                </li>
                <!-- v-for is going reiterate over all the data inside it. -->
            </ul>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>