<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    
    <!-- Skeleton CSS -->
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/skeleton.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div class="container">
        <main id="app">
            <h1>{{ title }}</h1>
            <!-- vue - adding a function when this data is submitted. 
                .prevent prevents Default -->
            <form @submit.prevent="addTodo">
                <label for="newTodo"><h4>What needs to be done?</h4></label>
                <!-- v-model links with elements on your js file -->
                <input v-model="newTodo" type="text" name="newTodo" id="newTodo">
                <button type="submit" name="button">Add</button>
                
            </form>
            <hr>

            <div class="container second">
                <div class="row">
                    <div class="four columns">To Do:
                        <ul>
                            <!-- vue - for every item in array of items. 
                                Repeats over the 'todos' array and gives
                                the name 'todo' to each item -->
                            <li v-for="todo in todos">
                                <!-- @click refers to a function on your methods -->
                                <span>{{ todo.title }}</span><button type="button" @click="removeTodo(todo)" class="removeTodo">x</button>
                            </li>
                            <!-- v-for is going reiterate over all the data inside it. -->
                        </ul>
        
                    </div>
                    <div class="four columns">Doing:
                        <ul>
                            
                        </ul>
        
                    </div>
                    <div class="four columns">Done:
                        <ul>

                        </ul>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>