@font-face {
    font-family: ShareTech;
    src: url(../fonts/ShareTechMono-Regular.ttf);
}
* {
    font-family: ShareTech;
    color: #ea9085;
}
hr {
    padding: 2vw;
    border-top: none;
    border-bottom: 1px solid #ea9085;
}
button {
    color: white;
}
body {
    background-color: #6e5773;
}
#newTodo {
    background-color: #6e5773;

    border: 2px solid #ea9085;
}
